# Tested benchmark environment: Python 3.13 on Debian/MX, 2026-10-06.
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
idna==3.20
pycparser==3.0
requests==2.34.2
srt==3.5.3
tqdm==4.70.1
urllib3==2.8.0
vosk==0.3.45
websockets==17.2
